body {
    font-family: 'Source Code Pro', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #f4f4f4;
}

header {
    background: #1a1a1a;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-pic-container {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #f4f4f4;
}

header .profile-pic {
    width: 100%;
    height: auto;
    display: block;
}

header h1 {
    margin: 20px 0 0;
    font-weight: 600;
}

header p {
    margin: 5px 0 0;
    font-style: italic;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background: #333;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #00ff00;
}

.about p {
    text-align: center;
    font-size: 16px;
}

.education-item, .project-item {
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #2b2b2b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.education-item {
    display: flex;
    align-items: center;
}

.education-item .logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 8px;
}

.education-item .details, .project-item {
    flex-grow: 1;
}

.education-item h3, .project-item h3 {
    margin: 0 0 10px;
    font-weight: 600;
    color: #f4f4f4;
}

.education-item p, .project-item p {
    margin: 5px 0;
    font-size: 14px;
}

footer {
    padding: 20px;
    background: #1a1a1a;
    border-top: 1px solid #444;
    text-align: center;
}

footer h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #00ff00;
}

.contact-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.contact-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}
